body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1ecec;
    margin: 0;
}

.cal {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #2b1a1a;
}

.cal input {
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-right: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;

}

.cal div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cal button {
    width: 23%;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cal button:hover {
    background-color: #ddd;
}

.cal button:active {
    background-color: #ccc;
}

.cal button:nth-child(4n) {
    background-color: #ff9500;
    color: #fff;
}

.cal button:nth-child(4n):hover {
    background-color: #e68a00;
}

.cal button:nth-child(4n):active {
    background-color: #cc7a00;
}

.cal button:last-child {
    background-color: #00aaff;
    color: #fff;
}

.cal button:last-child:hover {
    background-color: #0099e6;
}

.cal button:last-child:active {
    background-color: #0088cc;
}